
<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button >
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>job</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content  padding="true">

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Actualisation...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list  class="list" >
    <a class="item item-thumbnail-left">
      <div class="row" style="height: 100%; margin-left: 10px; align-items: center; justify-content: center;">
        <div class="col">
          <ion-card>
            <ion-card-header>
              <ion-card-title style="color:black;  padding-left: 10%; padding-right: 10%;">
                list jobs
              </ion-card-title>
              <ion-card-content>

                <ion-item lines="none" routerLink="/media">
                  <ion-label>Job :</ion-label>
                  <p>{{job}}</p>
                </ion-item>
              </ion-card-content>
            </ion-card-header>
          </ion-card>
        </div>
      </div>
     
  
    </a>
  </ion-list>
  
</ion-content>

