
<ion-header>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-button>
        <ion-back-button></ion-back-button>
      </ion-button>
    </ion-buttons>
    <ion-title>Comptabilite</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="tertiary">
  <br>
  <div>

    <div class="row" style="text-align: center;">
      <div class="col" style="padding: 10px;">
        <ion-button>
          choisir Agent
        </ion-button>
      </div>
    </div>

   
  </div>


  <!-- <div class="action-button">
        <ion-button>
          <ion-icon slot="start" name="add"></ion-icon>Add stationnement
        </ion-button>
      </div>-->
</ion-content>
<div class="bar bar-footer footer-button"  style=" text-align: center; background-color: #020b33;">
  <ion-button routerLink="/compta-agent"
    name="submit"><span style="color:white">Valider</span></ion-button>
</div>
