ion-content{
    // --background:#fafafa;
    // --background:#4ee0e6;
    /* --background: #ddd6f3; 
    --background: -webkit-linear-gradient(to right, #ddd6f3, #faaca8); 
    --background: linear-gradient(to right, #ddd6f3, #faaca8);*/
    /*--background: #2bc0e4; 
    --background: -webkit-linear-gradient(to right, #2bc0e4, #eaecc6); 
    --background: linear-gradient(to right, #2bc0e4, #eaecc6);*/
   
 /*   --background: #ad5389; 
 --background: -webkit-linear-gradient(to right, #3c1053, #ad5389); 
--background: linear-gradient(to right, #3c1053, #ad5389);*/

/*--background: #0f0c29;  
--background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
--background: linear-gradient(to right, #24243e, #302b63, #0f0c29);*/

   
   }
   ion-header{
  /*  --background: #ad5389;  
    --background: -webkit-linear-gradient(to right, #3c1053, #ad5389); 
   --background: linear-gradient(to right, #3c1053, #ad5389);*/
   --background: #0f0c29;  
   --background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
   --background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
   
   color: ivory;   
   }