<ion-header [translucent]="true">
 
  <ion-toolbar color="primary">
    <ion-title>
      Acceuil
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" >
  <ion-slides pager="true">

    <ion-slide>
    
      <img src="../assets/images/globo.png" alt="">
    </ion-slide>

  

   

  </ion-slides>
  <ion-text>
    <h1>Bienvenue.
    </h1>

  
  </ion-text>
  <div class="actions">
   
    
    <ion-button routerLink="/job" class="signup-btn" expand="block" color="primary">
     
      Job
    </ion-button>
  
    
  </div>
</ion-content>